.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

.about .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.about .image img {
    min-width: 20%;
    max-width: 80%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgb(var(--black));
}

.about h1 {
    text-align: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: rgb(var(--black));
}

.about .text {
    text-align: center;
    max-width: 80%;    
}


.cards {
    display: flex;
    display: row;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 3rem 0;
    width: 80%;
}

.cards .card {
    border: 1px solid rgb(var(--black));
    margin: 1rem;
    padding: 1rem;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}