{% extends "partials/base.html" %}

{% load static %}
{% block TitleBar %}{{ site_settings.site_name_about }}{% endblock TitleBar %}

{% block css-style %}
        <link rel="stylesheet" href="{% static "css/partials/about_page.css" %}">
        <link rel="stylesheet" href="{% static "css/partials/hero_section.css" %}">
{% endblock css-style %}


{% block body %}

    <section class='hero' style="--hero-bg-image-3: url({{ Hero_Section4.background_image.url }});">
        <div class='hero-section-3'>
            <div class="hero-content-3">
                <h1>{{ Hero_Section4.heading }}</h1>
                <p>{{ Hero_Section4.subheading }}</p>
            </div>
        </div>

    </section>


    <section class='about section'>
        <div class='image'>
            <img src="{{ About_Us.image.url }}" alt="{{ About_Us.name }}">
        </div>
        <div class='text'>
            <h1>{{ About_Us.name }}</h1>
            <p>
                {{ About_Us.description }}
            </p>
        </div>

        {% if About_Us.metrics_cards.all %}
        <div class="cards">
            {% for metrics in About_Us.metrics_cards.all %}
            <div class="card">
                <h3>{{ metrics.title }}</h3>
                <p>{{ metrics.description }}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </section>


    {% block js-scripts %}
        <script src="{% static "js/scrolledActiveSection.js" %}"></script>
    {% endblock js-scripts %}
{% endblock body %}