footer {
    text-align: center;
    margin: 5rem 0rem 0rem; 
    padding : 2rem;
    background-color: rgba(var(--secundary-color));
    min-width: 100%;
    color: rgb(var(--terciary-color)); 
    box-shadow: 0px -20px 30px rgba(var(--quartenary-color), 0.8);
    font-family: 'Monsterat', sans-serif;
    gap: .4rem;
}

footer p {
    margin: 2px;
    font-size: 1rem;
}