.procediments-page {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 6rem;
}

.container-procediments {
    display: grid;
    justify-content: center;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 2rem auto 1rem;
    width: 80%;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.item a{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 100%;}
    
.box {
    width: 100%;
    background-image: var(--image-card-procediment);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    background-position: center;
    border: 1px solid rgb(var(--black));
}


.custom-lightbox {
    text-align: center;
    color: var(--white);
}

.procediment-price {
    font-size: 1.5rem;
    color: var(--black);
    margin: 0;
}

.marvel-page {
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(var(--black));
    margin: 0;
    text-align: center;
}
